html{
    height: 100%;
}
body{
    height: 100%;
}
section>.row{
    margin:0;
}
section#aboutme{
    background: #158cd0;
    min-height: 100%;
    color: #ffffff;
}
section#projects{
    background: #ffcc00;
    min-height: 100%;
    color: #444444;
}
section#snaps{
    background: #e00057;
    min-height: 100%;
}
#photo{
    width:500px;
    border-radius:250px;
    border: 5px solid #ffffff;
    position: relative;
    float: right;
    top: -70px;
    right: -100px;
}
.photomargin{
    margin-top:15px;
    margin-bottom: 15px;
}
.photomargin>img{
    border-radius: 3px;
}
.btn-subu{
    background: transparent;
    border: 2px solid #ffffff;
    margin: 10px 0 30px 0;
    color: #ffffff;
}
.btn-subu:hover{
    background: #ffffff;
    color: #e00057;
}
.biodiv{
    margin:90px 30px 0 30px;
}
@media screen and (max-width: 768px) {
    .biodiv {
        float: left;
        margin:0;
    }
}
.icons{
    width: 80px;
    height: 80px;
    padding: 10px;
    float: left;
    margin: 10px;
    border-radius: 20px;
    transition: background 500ms
}
.icons:hover{
    background: #009CE0 !important;
}
.projectmargin{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
}
.workphoto{
    height: 150px;
    padding: 0;
}
.workphoto>div{
    width: 100%;
    position: absolute;
    padding:0 15px;
    z-index: 10;
}
.workphoto>div>div{
    max-height: 150px;
    transition: max-height 1s, box-shadow 300ms;
    overflow: hidden;
    width: 100%;
}
.workphoto>div>div:hover{
    max-height: 500px;
    box-shadow: 0 0 6px black;
}
.workphoto>div>div>img{
    width: 100%;
}