html, body, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
img {
	border: 0;
}
p {
	font-size:14px;
}
a {
	font-weight: bold;
	text-decoration: none;
	color: #5C5C5C;
}
.more {
	text-align: right;
}
.left {
	float: left;
}
.clear {
	clear: both;
}
body, h1, h2, h3, form {
	margin: 0;
	padding: 0;
	color: #5C5C5C;
	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
}
#holder {
	background: url(images/header_bg.jpg) repeat-x;
	width:100%;
	min-width:1000px;
	position:absolute;
	top:0px;
}
#headcontent {
	width:1000px;
	position:relative;
	height:205px;
}
#nav {
	position:relative;
	top:-18px;
	margin-left:30px;
	float:left;
	height:40px;
	overflow:hidden;
}
#nav ul li{
	padding-top:14px;
	display:block;
	float:left;
}
#nav ul li a{
	color:#fff;
	font-weight: bold;
	font-size:16px;
	padding-top:14px;
	padding-bottom:8px;
	padding-left:10px;
	padding-right:10px;
	background:url(images/mg.gif);
}
#homefront {
	width:800px;
}
#photo {
	float: left;
	width: 624px;
}
#photo div {
	border: 1px solid #D8D8D8;
	padding: 2px;
}
#photo img {
	display: block;
}
#search-news {
	float: right;
	width: 140px;
}
#search-news div {
	padding: 3px 0;
	margin: 0;
}
#search-news #q {
	width: 140px;
	border: 1px solid #859D31;
}
#search-news .downcast {
	background: #E6E7E7;
	border-top: 1px solid #CFD0D0;
	padding: 3px 4px 4px 4px;
	margin: 2px 0 0 0;
}
#search-news h3 {
	background: url(images/bullet_letter.gif) no-repeat;
	padding-left: 15px;
	font-weight: bold;
	margin: 1em 0 0.4em 0;
}
#search-news p {
	padding-left: 15px;
	padding-right: 2px;
	margin: 0.1em 0;
}
#bodymain {
	padding-top: 2em;
	text-align: justify;
	position: relative;
	top: 0px;
	width:800px;
}

#bodyleft {
	text-align: justify;
	float: left;
	width: 408px;
}
#bodyleft ul.plussbullets {
	margin-top: 45px;
	margin-left: 120px;
	padding: 0;
	font-weight: bold;
}
#bodyleft ul.plussbullets li {
	background: top left url(images/bullet_plus.gif) no-repeat;
	margin: 0 0 10px 0;
	padding: 0 0 0 25px;
}
#bodyright {
	float: right;
	width: 330px;
}
#bodyright p {
	margin-right: 2em;
}
#gallery img {
	float: left;
}
#imag img{
width:250px;
height:188px;
float:left;
}
#footer {
	color: #FFFFFF;
	padding: 6px 0 5px 0;
	margin-top: 2em;
	font-weight: bold;
	background: #42453D url(images/footer_bg.gif) repeat-x;
	height:20px;
}
#footer a,#footer p {
	margin: 0;
	padding: 0;
	color: white;
}