a{
	color:#00F;
	text-decoration:none;
}
a:hover{
	color:#FFF;
	cursor:pointer;
}
body{
	margin:0;
	padding:0;
	background:url(images/1920x1200_compressed.jpg);
	background-repeat:repeat;
	background-position:0px 100px;
}
#screen{
	width:100%;
	min-width:1200px;
	overflow:hidden;
}
#centering{
	position:absolute;
	top:0px; width:100%;
	min-width:1200px;
	background:url(images/Header_2.gif);
	background-repeat:no-repeat;
	background-position-x:center;
}
#maindiv{
	width:1200px;
}
#header{
	width:850px;
	height:100px;
	overflow:hidden;
}
#header ul li{
	display:block;
	float:left;
}
#header ul li a{
	display:block;
	text-decoration:none;
	font-family:"Comic Sans MS", cursive;
	font-size:36px;
	padding-top:15px;
	padding-bottom:15px;
	padding-right:30px;
	padding-left:20px;
	color:#CCC;
	background-position:right;
	background-image: url(images/bulbw.png);
	background-repeat: no-repeat;
}
#header ul li a:hover{
	color:#FFF;
	background-image: url(images/bulbb.png);
}
#logodiv{
	width:850px;
	height:175px;
	margin:20px;
	float:left;
}
#logodiv img{
	float:left;
}
#slides,#logindiv,#updates,#content,#eventimg,#contente{
	margin:20px;
	-moz-border-radius:13px;
	border-radius:13px;
}
#slides{
	float:left;
	width:800px;
	background:url(images/divback.png);
}
#content{
	float:left;
	width:800px;
	background:url(images/divback.png);
	min-height:300px;
	height:auto;
}
#contente div div a{
	font-family:Comic Sans MS, cursive;
	font-size:20px;
}
#content div div a:hover,#contente div div a:hover{
	color:#000;
}
#clubhead{
	overflow:hidden;
	width:600px;
	height:170px;
}
#secmen{
	width:800px;
	height:70px;
}
#secmenu{
	width:600px;
}
#secmenu ul li{
	display:block;
	float:left;
}
#secmenu ul li a{
	display:block;
	text-decoration:none;
	font-family:"Comic Sans MS", cursive;
	font-size:20px;
}
#imag,#imag2{
	width:1000px;
	position:relative;
}
#updates div div{
	width:280px;
	position:relative;
	height:100px;
}
#footer{
	margin-top:20px;
	-moz-border-radius-topleft:13px; 
	-moz-border-radius-topright:13px;
	border-top-left-radius:13px; 
	border-top-right-radius:13px;
	float:left;
	width:1200px;
	background:#000;
}
#footer a{
    color:#fff;
    text-decoration:none;
}
#footer a:hover{
    color:#cecece;
}
#popups{
	width:0px;
	overflow:visible;
	float:right;
	height:740px;
}
#popups div{
	z-index:3;
	padding-left:30px;
	padding-right:30px;
	-moz-border-radius-topleft:13px; 
	-moz-border-radius-bottomleft:13px;
	border-top-left-radius:13px; 
	border-bottom-left-radius:13px;
}
#logindiv{
	font-size:20px;
	width:220px;
	background:url(images/divback.png);
	height:175px;
	float:left;
}
#updates{
	width:320px;
	float:right;
	background:url(images/divback.png);
	height:300px;
}
#eventimg{
	width:320px;
	float:right;
	background:url(images/divback.png);
	height:300px;
}
#logindiv a{
	text-decoration:none;
}
#logindiv a:hover{
	color:#FFF;
}
#logodiv iframe{
	width:400px;
	height:175px;
	float:left;
}
#loginpop{
	position:relative;
	top:120px;
	width:260px;
	height:120px;
	background:url(images/divback.png);
}
#regpop{
	 padding-left:10px;
	 position:relative;
	 width:280px;
	 height:300px;
	 background:url(images/divback.png);
}
#regpop iframe{
	height:310px;
	width:320px;
}
#popback{
	opacity:0.5;
	filter:alpha(opacity=50);
	display:none;
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:2;
}
#slidimg img{
	opacity:0;
	position:relative;
}
iframe{
     border:#0C3;
}
#changtxt a:hover{
	color:#000;
}
#contactlist td{
	width:200px;
}
#dyndiv{
	padding-bottom:20px;
}
#dyndiv div td{
    width:300px;
}
#dynfx{
	width:100px;
	overflow:hidden;
	display:none;
}